@model System.Collections.Generic.IEnumerable<Team2Library.Books>

@{
    ViewBag.Title = "BookFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search successful book found</h2>


   
    
        <table>
            <thead>We Got Here</thead>
        </table>

            